html {
  box-sizing: border-box;
  background-color: #f0eee8;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.line {
  text-align: center;
  width: 100%;
  height: 2px;
  background: #9a816d;
  margin: .4rem;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: .4em .75em .5em;
  margin: 0;
  background-color: #785439;
  color: #fff;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  border-width: 3px;
  border-radius: 8px;
}

.link-card {
  display: inline-block;
  background-color: #dcd4cd;
  border-color: #9a816d;
  font-family: Dosis, sans-serif;
  border-width: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 1rem;
  color: #785439;
  border-style: solid;
  text-decoration: none;
  line-height: 1.5rem;
}

.list {
  display: block;
  text-align: left;
  list-style-type: none;
  padding: 0;
  word-spacing: 30px;
  font-family: Georgia, serif;
}

.link-card:hover {
  background-color: #cabdb2;
  color: #fff;
}

.link-card:hover .btn {
  background-color: #9a816d;
}

.link-card h2 {
  margin: 0;
  padding-top: .4rem;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  text-align: left;
  font-weight: bold;
}

.link-card p {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #512200;
  padding-top: .3rem;
}

.left {
  display: inline-block;
  width: 20%;
  font-family: Georgia, serif;
  font-size: .875rem;
  color: #512200;
}

.right {
  display: inline-block;
  width: 20%;
  font-family: Georgia, serif;
  color: #512200;
  font-size: .875rem;
}
